
    <header class="head">
      <h1> Shoes Store Swap</h1>
      <p> <% if(locals.signedInUser) { %>
                            Martin Gamble
                            <% }else  { %>
                              Guest user
                          <%  } %> </p>
    <a href="/index"> <img src="/ressources/logo.png"  alt="Website Logo"></a>
    </header>
