<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> about </title>
    <link rel="stylesheet" type="text/css" href="/ressources/index.css">
  </head>

  <body>

    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

    <% include partials/site-navigation.ejs %>

    <div id="ab">

    <h3 id="about"> Why Shoes Store Swap.</h3>


    <p> The Shoe Store Swap was created in 1996 by Mary James familly due to their pation of shoes. Years after opening,
      and having great success they decide to add rare type of shoes to give their shop more option and more values.</p><br>

      <p> Mary's sons took over the store when she was getting older and decided to improve and customise it with a webiste
        that help customer and provide different ability to the user via the website. They also wanted to bring the shop above
        all other competitors by having all type of shoes that can exist, from ancient rare shoes to modern pair of shoes.</p><br>

        <p>Today, The store has reach million of Dollars and it will continue to grow by opening a few more store to be able to fullfill
          client requests.</p><br>

          <p> Hopefully we motivated you to get a pair with us. So, do not wait get you a pair with us for the right price.</p><br>
        </div>

            <% include partials/footer.ejs %>
  </body>

</html>
