<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Contat Us</title>
    <link rel="stylesheet" type="text/css" href="/ressources/index.css">
  </head>

  <body>
    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

    <% include partials/site-navigation.ejs %>


    <div id="contact">
    <h4> Don't wait,  Contact US for any question, any help or private request! </h4>


      <p> Email: shoeShop@sss.com </p><br>
      <p> Phone: 876-145-7777</p><br>
      <p> Facebook: @shoeShopStore </p><br>
      <p> Twitter: @shoeShopStore </p><br>

    </div>

    <% include partials/footer.ejs %>
  </body>

</html>
