<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" type="text/css" href="/ressources/index.css">
  </head>

  <body>

    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

    <% include partials/site-navigation.ejs %>

      <main>

        <section>
          <p> <a href="/index">home</a> <p><br>
          <p> Welcome to the best Shoe Shop Company.
             If you are looking to buy the confortable, and affordable shoes you came to the right place</p><br>

             <p> We dont only provide modern shoes but also special old historical shoes for those who likes to make collection
               of historical items.</p><br>

                <p> If you cannot find what you are looking for here; You can email us on our business email and we will find the
                  right pair for you.<p><br>

                    <p> Don't Wait! Sign up and access the best of our website.
                       There is nothing better than swapping shoes, buying shoes, or even giving away shoes you dont even need.</p><br>


                <img src="/ressources/homeShoe.jpg" alt="Shoe" width="200">
      </section>
      </main>

      <% include partials/footer.ejs %>


  </body>

</html>
