<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Cart </title>
    <link rel="stylesheet" type="text/css" href="/ressources/index.css">
  </head>

  <body>

    <h3> Sorry, The page is not implemented yet! Come back Later!</h3>

  </body>
</html>
